.env
.vscode/**
.vscode-test/**
node_modules/**
!node_modules/@vscode/sudo-prompt/**
out/**
src/**
tsconfig.json
yarn.lock
webpack.config.js
.gitignore
scripts/**
assets/**
dist/**
**/*.bak

!assets/icon.png
!out/extension.js
!out/extension.js.map